* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* Mobile */
@media (max-width:426px) {

body {
    background: linear-gradient(to right, rgb(148, 148, 225), rgb(99, 99, 236));
    overflow: hidden;
}

#left h2 {
    position: absolute;
    top: 8.5vw;
    left: 7vw;
    text-align: center;
    font-size: 7vw;
    color: aliceblue;
    display: inline-block;
}

#left h3 {
    position: absolute;
    top: 5vw;
    left: 7vw;
    font-size: 4vw;
    text-align: center;

}

#left img {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 100px;
    height: auto;
    -webkit-filter: drop-shadow(10px 10px 10px 100px #222);
    filter: drop-shadow(10px 10px 10px 100px #222);
    transform: skew(4deg, 2deg);
}

#summary {
    position: absolute;
    width: 150px;
    height: 220px;
    top: 200px;
    left: 30px;
    font-size: 12px;
    line-height: 15px
}

p::selection {
    color: white
}

#skills h2 {
    position: absolute;
    left: 30px;
    top: 560px;
    font-size: 18px;
    color: blueviolet;
}

#skillContainer {
    position: absolute;
    left: 30px;
    top: 590px;
    padding: 10px;
    background: linear-gradient(to right, rgb(247, 247, 247), rgba(54, 54, 240, 0.536));
    width: 200px;
    gap: 20px;
}

#skillContainer img {
    gap: 10px;
    padding: 2px;
    row-gap: 10px;
    margin: 10px;

}

#skillContainer img:hover {
    scale: 1.4;
}

#menuButton i {
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    /* padding: 30px; */
    cursor: pointer;
}

#full{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.628);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    right: -100%;
    pointer-events: none;
}
#half{
    /* align-self: center; */
    width:40%;
    height: 80%;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 100, 238, 0.594);
}
#navbar{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 30px;
    margin: 10px;
    line-height: 55px;
    color: white;
    
}
#navbar a{
    text-decoration: none;
    color:black ;
    display: flex;
    display: inline-block;
}
#icons{
    padding: 20px;
    font-size: 20px;
    /* gap: 50px; */
}
#icons a{
    text-decoration: none;
    padding: 20px;
}
#closeButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.609);
    cursor: pointer;
}
.ButtonLink a:hover{
    scale: 1.05;
}
.ButtonLink a:hover i{
    transform: rotate(45deg);
}

}

/* Tablet */
@media (min-width:426px) and (max-width:769px) {

body {
    background: linear-gradient(to right, rgb(148, 148, 225), rgb(99, 99, 236));
    overflow: hidden;
}

#left h2 {
    position: absolute;
    top: 8vw;
    left: 7vw;
    text-align: center;
    font-size: 7vw;
    color: aliceblue;
    display: inline-block;
}

#left h3 {
    position: absolute;
    top: 5vw;
    left: 7vw;
    font-size: 4vw;
    text-align: center;

}

#left img {
    position: absolute;
    top: 90px;
    left: 70px;
    width: 190px;
    height: auto;
    -webkit-filter: drop-shadow(10px 10px 10px 100px #222);
    filter: drop-shadow(10px 10px 10px 100px #222);
    transform: skew(4deg, 2deg);
}

#summary {
    position: absolute;
    width: 300px;
    height: 220px;
    top: 45px;
    left: 340px;
    font-size: 12px;
    line-height: 15px
}

p::selection {
    color: white
}

#skills h2 {
    position: absolute;
    left: 330px;
    top: 215px;
    color: blueviolet;
}

#skillContainer {
    position: absolute;
    left: 330px;
    top: 250px;
    padding: 10px;
    background: linear-gradient(to right, rgb(247, 247, 247), rgba(54, 54, 240, 0.536));
    width: 380px;
    gap: 50px;
}

#skillContainer img {
    gap: 30px;
    padding: 2px;
    row-gap: 10px;
    margin: 10px;

}

#skillContainer img:hover {
    scale: 1.4;
}

#menuButton i {
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    /* padding: 30px; */
    cursor: pointer;
}

#full{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.628);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    right: -100%;
    
}
#half{
    /* align-self: center; */
    width:40%;
    height: 80%;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 100, 238, 0.594);
}
#navbar{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 30px;
    margin: 10px;
    line-height: 55px;
    color: white;
    
}
#navbar a{
    text-decoration: none;
    color:black ;
    display: flex;
    display: inline-block;
}
#icons{
    padding: 20px;
    font-size: 30px;
    /* gap: 50px; */
}
#icons a{
    text-decoration: none;
    padding: 20px;
}
#closeButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.819);
    cursor: pointer;
}
.ButtonLink a:hover{
    scale: 1.05;
}
.ButtonLink a:hover i{
    transform: rotate(45deg);
}

}
/* laptop and small display */
@media (min-width:769px) and (max-width:1441px) {

body {
    background: linear-gradient(to right, rgb(148, 148, 225), rgb(99, 99, 236));
    overflow: hidden;
}

    #cursor {
    width: 22px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(0, 255, 255);
    position: absolute;
    z-index: 1;
}

#cursor1 {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 2;
}

#cursor2 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(0, 255, 255);
    position: absolute;
    z-index: 3;
}

#cursor3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.715);
    position: absolute;
    z-index: 4;
}

#cursor4 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.709);
    position: absolute;
    z-index: 5;
}

#cursor5 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.537);
    position: absolute;
    z-index: 6;
}

#cursor6 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.523);
    position: absolute;
    z-index: 7;
}

#cursor7 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.511);
    position: absolute;
    z-index: 8;
}

#cursor8 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.493);
    position: absolute;
    z-index: 9;
}

    
#left h2 {
    position: absolute;
    top: 12vw;
    left: 5vw;
    text-align: center;
    font-size: 5vw;
    color: aliceblue;
    display: inline-block;
}

#left h3 {
    position: absolute;
    top: 9vw;
    left: 5vw;
    font-size: 3vw;
    text-align: center;

}

#left img {
    position: absolute;
    top: 170px;
    left: 80px;
    width: 320px;
    height: 300px;
    -webkit-filter: drop-shadow(10px 10px 10px 100px #222);
    filter: drop-shadow(10px 10px 10px 100px #222);
    transform: skew(4deg, 2deg);
}

#summary {
    position: absolute;
    width: 580px;
    height: 220px;
    top: 45px;
    left: 450px;
    font-size: 20px;
    line-height: 32px
}

p::selection {
    color: white
}

#skills h2 {
    position: absolute;
    left: 450px;
    top: 370px;
    color: blueviolet;
}

#skillContainer {
    position: absolute;
    left: 450px;
    top: 400px;
    padding: 10px;
    background: linear-gradient(to right, rgb(247, 247, 247), rgba(54, 54, 240, 0.536));
    width: 550px;
    gap: 50px;
}

#skillContainer img {
    gap: 30px;
    padding: 2px;
    row-gap: 10px;
    margin: 10px;

}

#skillContainer img:hover {
    scale: 1.4;
}

#menuButton i {
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    /* padding: 30px; */
    cursor: pointer;
}

#full {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.628);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    right: -100%;

}

#half {
    /* align-self: center; */
    width: 30%;
    height: 60%;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 100, 238, 0.594);
}

#navbar {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 30px;
    margin: 10px;
    line-height: 55px;
    color: white;

}

#navbar a {
    text-decoration: none;
    color: black;
    display: flex;
    display: inline-block;
}

#icons {
    padding: 20px;
    font-size: 30px;
    /* gap: 50px; */
}

#icons a {
    text-decoration: none;
    padding: 20px;
}

#closeButton i {
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.819);
    cursor: pointer;
}
}
/* Monitor */
@media (min-width:1441px){

body {
    background: linear-gradient(to right, rgb(148, 148, 225), rgb(99, 99, 236));
    overflow: hidden;
}

#cursor {
    width: 22px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(0, 255, 255);
    position: absolute;
    z-index: 1;
}

#cursor1 {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 2;
}

#cursor2 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(0, 255, 255);
    position: absolute;
    z-index: 3;
}

#cursor3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.715);
    position: absolute;
    z-index: 4;
}

#cursor4 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.709);
    position: absolute;
    z-index: 5;
}

#cursor5 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.537);
    position: absolute;
    z-index: 6;
}

#cursor6 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.523);
    position: absolute;
    z-index: 7;
}

#cursor7 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.511);
    position: absolute;
    z-index: 8;
}

#cursor8 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.493);
    position: absolute;
    z-index: 9;
}

    
#left h2 {
    position: absolute;
    top: 7vw;
    left: 5vw;
    text-align: center;
    font-size: 5vw;
    color: aliceblue;
    display: inline-block;
}

#left h3 {
    position: absolute;
    top: 4vw;
    left: 4vw;
    font-size: 3vw;
    text-align: center;

}

#left img {
    position: absolute;
    top: 390px;
    left: 190px;
    width: 290px;
    height: auto;
    -webkit-filter: drop-shadow(10px 10px 10px 100px #222);
    filter: drop-shadow(10px 10px 10px 100px #222);
    transform: skew(4deg, 2deg);
}

#summary {
    position: absolute;
    width: 1200px;
    height: 220px;
    top: 80px;
    left: 780px;
    font-size: 40px;
    line-height: 40px
}

p::selection {
    color: white
}

#skills h2 {
    position: absolute;
    left: 780px;
    top: 500px;
    color: blueviolet;
    font-size: 50px;
}

#skillContainer {
    position: absolute;
    left: 780px;
    top: 560px;
    padding: 10px;
    background: linear-gradient(to right, rgb(247, 247, 247), rgba(54, 54, 240, 0.536));
    width: 700px;
    gap: 30px;
    font-size: 50px;
    display: flex;
}

#skillContainer img {
    gap: 30px;
    padding: 2px;
    row-gap: 10px;
    margin: 10px;
    font-size: 20px;

}

#skillContainer img:hover {
    scale: 1.8;
}

#menuButton i {
    position: absolute;
    top: 50px;
    left: 79%;
    font-size: 60px;
    width: auto;
    height: auto;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.614);
    /* padding: 30px; */
    cursor: pointer;
}
#full{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.628);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    right: -100%;
    
}
#half{
    /* align-self: center; */
    width:35%;
    height: 68%;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 100, 238, 0.594);
}
#navbar{
    display: flex;
    flex-direction: column;
    font-size: 75px;
    padding: 50px;
    margin: 10px;
    line-height: 120px;
    color: white;
    
}
#navbar a{
    text-decoration: none;
    color:black ;
    display: flex;
    display: inline-block;
    
}
#icons{
    padding: 20px;
    font-size: 78px;
    gap: 50px;
}
#icons a{
    text-decoration: none;
    padding: 20px;
}
#closeButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.819);
    cursor: pointer;
}
.ButtonLink a:hover{
    scale: 1.05;
}
.ButtonLink a:hover i{
    transform: rotate(45deg);
}

}

