* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* mobile */
@media (max-width:427px) {

body {
    background: linear-gradient(to right, rgb(148, 148, 225), rgb(99, 99, 236));
    overflow: hidden;
    width: 100%;
    height: 100%;
}


#image {
    position: absolute;
    top: 0px;
    left: 160px;
    z-index: 0;
    filter: drop-shadow(10px 10px 10px 10px black);
    transform:skew(2deg,4deg);
}

.Text{
    position: absolute;
    top: 80px;
    left: 40px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
.Text span{
    font-size:larger;
    background: linear-gradient(to right,rgb(255, 94, 0),rgb(55, 0, 255));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}
.Linkedln{
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
    position: absolute;
    top: 160px;
    left: 40px;
    text-decoration: none;
    color: white;
}

.ButtonLink .Linkedln{
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    border-radius: 15px;
}
.ButtonLink i{
    position: absolute;
    /* border: 1px solid black; */
    /* background: linear-gradient(to bottom,rgb(196, 196, 237),blue); */
    background-color: transparent;
    left: 150px;
}
#number {
    position: absolute;
    top: 200px;
    left: 50px;
    border: 2px solid transparent;
    padding: 10px;
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    color: white;
    border-radius: 15px;
    font-size: 9px;
        
}
#number i{
    color: orange;
}
#mail {
    position: absolute;
    top: 250px;
    font-size: 8px;
    left: 20px;
    border: 2px solid transparent;
    padding: 10px;
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    color: white;
    border-radius: 15px;
}
#mail i{
    color: orange;
}
#menuButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.487);
    /* padding: 30px; */
    cursor: pointer;
}
#full{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.628);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    right: -100%;
    pointer-events: none;
}
#half{
    /* align-self: center; */
    width:40%;
    height: 80%;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 100, 238, 0.594);
}
#navbar{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 30px;
    margin: 10px;
    line-height: 55px;
    color: white;
    
}
#navbar a{
    text-decoration: none;
    color:black ;
    display: flex;
    display: inline-block;
}
#icons{
    padding: 20px;
    font-size: 20px;
    /* gap: 50px; */
}
#icons a{
    text-decoration: none;
    padding: 20px;
}
#closeButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.609);
    cursor: pointer;
}
.ButtonLink a:hover{
    scale: 1.05;
}
.ButtonLink a:hover i{
    transform: rotate(45deg);
}

}


/* tablet */
@media (min-width:427px) and (max-width:769px) {

body {
    background: linear-gradient(to right, rgb(148, 148, 225), rgb(99, 99, 236));
    overflow: hidden;
    width: 100%;
    height: 100%;
}


#image {
    position: absolute;
    top: 5px;
    left: 63%;
    z-index: 0;
    filter: drop-shadow(10px 10px 10px 10px black);
    transform:skew(2deg,4deg);
}

.Text{
    position: absolute;
    top: 60px;
    left: 70px;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
.Text span{
    font-size:larger;
    background: linear-gradient(to right,rgb(255, 94, 0),rgb(55, 0, 255));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}
.Linkedln{
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    position: absolute;
    top: 200px;
    left: 90px;
    text-decoration: none;
    color: white;
}

.ButtonLink .Linkedln{
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    border-radius: 15px;
}
.ButtonLink i{
    position: absolute;
    /* border: 1px solid black; */
    /* background: linear-gradient(to bottom,rgb(196, 196, 237),blue); */
    background-color: transparent;
    left: 330px;
}
#number {
    position: absolute;
    top: 270px;
    left: 60px;
    border: 2px solid black;
    padding: 10px;
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    color: white;
    border-radius: 15px;
    font-size: 13px;
        
}
#number i{
    color: orange;
}
#mail {
    position: absolute;
    top: 270px;
    font-size: 13px;
    left: 220px;
    border: 2px solid black;
    padding: 10px;
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    color: white;
    border-radius: 15px;
}
#mail i{
    color: orange;
}
#menuButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    /* padding: 30px; */
    cursor: pointer;
}
#full{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.628);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    right: -100%;
    
}
#half{
    /* align-self: center; */
    width:40%;
    height: 80%;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 100, 238, 0.594);
}
#navbar{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 30px;
    margin: 10px;
    line-height: 55px;
    color: white;
    
}
#navbar a{
    text-decoration: none;
    color:black ;
    display: flex;
    display: inline-block;
}
#icons{
    padding: 20px;
    font-size: 30px;
    /* gap: 50px; */
}
#icons a{
    text-decoration: none;
    padding: 20px;
}
#closeButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.819);
    cursor: pointer;
}
.ButtonLink a:hover{
    scale: 1.05;
}
.ButtonLink a:hover i{
    transform: rotate(45deg);
}

}

/* laptop */
@media (min-width:769px) and (max-width:1441px) {

body {
    background: linear-gradient(to right, rgb(148, 148, 225), rgb(99, 99, 236));
    overflow: hidden;
}
#cursor {
    width: 22px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(0, 255, 255);
    position: absolute;
    z-index: 1;
}

#cursor1 {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 2;
}

#cursor2 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(0, 255, 255);
    position: absolute;
    z-index: 3;
}

#cursor3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.715);
    position: absolute;
    z-index: 4;
}

#cursor4 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.709);
    position: absolute;
    z-index: 5;
}

#cursor5 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.537);
    position: absolute;
    z-index: 6;
}

#cursor6 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.523);
    position: absolute;
    z-index: 7;
}

#cursor7 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.511);
    position: absolute;
    z-index: 8;
}

#cursor8 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.493);
    position: absolute;
    z-index: 9;
}

#image {
    position: absolute;
    top: 60px;
    left: 700px;
    z-index: 0;
    filter: drop-shadow(10px 10px 10px 10px black);
    transform:skew(2deg,4deg);
}

.Text{
    position: absolute;
    top: 130px;
    left: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
.Text span{
    font-size:larger;
    background: linear-gradient(to right,rgb(255, 94, 0),rgb(55, 0, 255));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}
.Linkedln{
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    position: absolute;
    top: 320px;
    left: 150px;
    text-decoration: none;
    color: white;
}

.ButtonLink .Linkedln{
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    border-radius: 15px;
}
.ButtonLink i{
    position: absolute;
    /* border: 1px solid black; */
    /* background: linear-gradient(to bottom,rgb(196, 196, 237),blue); */
    background-color: transparent;
    left: 330px;
}
#number {
    position: absolute;
    top: 400px;
    left: 120px;
    border: 2px solid black;
    padding: 10px;
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    color: white;
    border-radius: 15px;
        
}
#number i{
    color: orange;
}
#mail {
    position: absolute;
    top: 400px;
    left: 310px;
    border: 2px solid black;
    padding: 10px;
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    color: white;
    border-radius: 15px;
}
#mail i{
    color: orange;
}
#menuButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    /* padding: 30px; */
    cursor: pointer;
}
#full{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.628);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    right: -100%;
    
}
#half{
    /* align-self: center; */
    width:30%;
    height: 60%;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 100, 238, 0.594);
}
#navbar{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 30px;
    margin: 10px;
    line-height: 55px;
    color: white;
    
}
#navbar a{
    text-decoration: none;
    color:black ;
    display: flex;
    display: inline-block;
}
#icons{
    padding: 20px;
    font-size: 30px;
    /* gap: 50px; */
}
#icons a{
    text-decoration: none;
    padding: 20px;
}
#closeButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.819);
    cursor: pointer;
}
.ButtonLink a:hover{
    scale: 1.05;
}
.ButtonLink a:hover i{
    transform: rotate(45deg);
}

}

/* monitor */
@media (min-width:1441px) {
body {
    background: linear-gradient(to right, rgb(148, 148, 225), rgb(99, 99, 236));
    overflow: hidden;
    width: 100%;
}
#cursor {
    width: 22px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(0, 255, 255);
    position: absolute;
    z-index: 1;
}

#cursor1 {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 2;
}

#cursor2 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(0, 255, 255);
    position: absolute;
    z-index: 3;
}

#cursor3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.715);
    position: absolute;
    z-index: 4;
}

#cursor4 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.709);
    position: absolute;
    z-index: 5;
}

#cursor5 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.537);
    position: absolute;
    z-index: 6;
}

#cursor6 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.523);
    position: absolute;
    z-index: 7;
}

#cursor7 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.511);
    position: absolute;
    z-index: 8;
}

#cursor8 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0.493);
    position: absolute;
    z-index: 9;
}

#image {
    position: absolute;
    top: 60px;
    left: 70%;
    z-index: 0;
    filter: drop-shadow(10px 10px 10px 10px black);
    transform:skew(2deg,4deg);
}
#image img{
    width: 550px;
    height: auto;   
}

.Text{
    position: absolute;
    top: 130px;
    left: 20%;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
.Text span{
    font-size:larger;
    background: linear-gradient(to right,rgb(255, 94, 0),rgb(55, 0, 255));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}
.Linkedln{
    padding: 10px;
    font-size: 60px;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    left: 20%;
    text-decoration: none;
    color: white;
}

.ButtonLink .Linkedln{
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    border-radius: 15px;
}
.ButtonLink i{
    position: absolute;
    /* border: 1px solid black; */
    /* background: linear-gradient(to bottom,rgb(196, 196, 237),blue); */
    background-color: transparent;
    left: 39;
}
#number {
    position: absolute;
    top: 75%;
    left: 20%;
    border: 2px solid black;
    padding: 10px;
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    color: white;
    border-radius: 15px;
    font-size: 35px;
        
}
#number i{
    color: orange;
}
#mail {
    position: absolute;
    top: 75%;
    left: 39%;
    border: 2px solid black;
    padding: 10px;
    background: linear-gradient(to right,blue,rgb(102, 102, 234));
    color: white;
    border-radius: 15px;
    font-size: 35px;
}
#mail i{
    color: orange;
}
#menuButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    /* padding: 30px; */
    cursor: pointer;
}
#full{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.628);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    right: -100%;
    
}
#half{
    /* align-self: center; */
    width:35%;
    height: 68%;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 100, 238, 0.594);
}
#navbar{
    display: flex;
    flex-direction: column;
    font-size: 75px;
    padding: 50px;
    margin: 10px;
    line-height: 120px;
    color: white;
    
}
#navbar a{
    text-decoration: none;
    color:black ;
    display: flex;
    display: inline-block;
    
}
#icons{
    padding: 20px;
    font-size: 78px;
    gap: 50px;
}
#icons a{
    text-decoration: none;
    padding: 20px;
}
#closeButton i{
    position: absolute;
    top: 50px;
    left: 91%;
    font-size: 35px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.819);
    cursor: pointer;
}
.ButtonLink a:hover{
    scale: 1.05;
}
.ButtonLink a:hover i{
    transform: rotate(45deg);
}

}
